.content {
    width: 800px;
    margin: 20px auto;
    height: 100%;
}

.question {
  margin: 10px 0;
  color: black;
  font-family: verdana;
  font-size: medium
}

.question-input {
  margin: 10px 0;
  color: black;
  font-family: verdana;
  font-size: medium;
  text-align: center;
}

.question-title {
  font-size: large;
  color: grey;
  font-family: verdana;
  display: block;
  margin: 50px auto;
}

select {
  display: block;
  margin: 0 auto;
}

textarea {
  width: 40em;
  height: 15em;
  display: block;
  margin: 0 auto;
}

fieldset {
    text-align: center;
}

div {
    margin: auto;
}

label {
    display: inline-block;
    margin: 10px 20px;
}

input[type=radio] {
    display: block;
    margin: 0 auto;
}

.form-submit-button {
    font-size: large;
    color: black;
}
