{% extends "base.html" %}

{% block title %}Survey{% endblock title %}

{% block content %}
QUESTION {{ question_id + 1 }} out of {{ num_questions }}

<form method="POST" action="{{ url_for('survey.survey', slug=slug) }}" id="question" autocomplete="off">
  <input id="sessionID" name="sessionID" type="hidden" value="{{ session_id }}">

    <div class="question">
      <label for="{{ qid }}">
        <span class="question-title">{{ q.label }}</span>

        {% if q.error %}
          <span class="error">
            {{ survey_data.messages.error.required }}
          </span>
        {% endif %}
      </label>
      <div class="question-input">
        {% if q.type == "text" %}
          <textarea id="textarea" name="textarea">{{ q.value }}</textarea>
        {% elif q.type == "select" %}
          <select name = "select" id = "select" size="{{ q.options|length }}">
            {% for opt in q.options %}
              <option value="opt" id="{{ opt }}">{{ opt }}</option>
          {% endfor %}
        </select>
        {% elif q.type in ("radio", "checkbox") %}
            {% for opt in q.options %}
                  <label id="{{ opt }}-label" class="radio-label"><input id="{{ opt }}-input" class="radio-input" name="question" type="{{ q.type }}" value="{{ opt }}"> {{ opt }}</label>
            {% endfor %}
        {% endif %}
      </div>
    </div>

  <button type="submit" class="form-submit-button" id="submit"">Submit</button>
</form>


{% endblock content %}
