{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
Label this capture: <input id="label" type="text"><button id="submit">Submit</button><div id="saved" style="display: none;">Saved</div>
<br>
<br>
<textarea rows=20 cols=80></textarea>

<script type="text/javascript">
document.getElementById("submit").onclick = function() {
    var label = document.getElementById("label").value;
    if (label.length > 0) {
        navigator.sendBeacon(w.metadataURL, makeCSV(["label",label]));
        document.getElementById("saved").style.display = "inline-block";
    }
};
</script>
{% endblock content %}
